Pandas has a `pivot` method that takes columnar data and makes 2D table out of it. It's similar to Excel & returns matrix-like data from given dataframe.

In [1]:
import pandas as pd

In [34]:
ratings_df = pd.DataFrame({'users': ['Ajay', 'Ram', 'Arun', 'Ram'], 
                           'movies': ['Psycho', 'Vertigo', 'Sholay', 'Psycho'], 
                           'rating': [5, 2, 3, 4]})

In [35]:
ratings_df

  users   movies  rating
0  Ajay   Psycho       5
1   Ram  Vertigo       2
2  Arun   Sholay       3
3   Ram   Psycho       4

In [36]:
ratings_df.pivot(index='users', columns='movies')

       rating
movies Psycho Sholay Vertigo
users
Ajay      5.0    NaN     NaN
Arun      NaN    3.0     NaN
Ram       4.0    NaN     2.0

If a dataframe has duplicate values for `index` & `columns`, then it's not straightforward what `pivot` should do and hence it gives an error
> ValueError: Index contains duplicate entries, cannot reshape

In [37]:
ratings_dup = ratings_df.append({'users': 'Arun', 'movies': 'Sholay', 'rating': 5}, ignore_index=True)

In [38]:
ratings_dup

  users   movies  rating
0  Ajay   Psycho       5
1   Ram  Vertigo       2
2  Arun   Sholay       3
3   Ram   Psycho       4
4  Arun   Sholay       5

In [39]:
ratings_dup.pivot(index='users', columns='movies')

ValueError: Index contains duplicate entries, cannot reshape

In such cases we can use **`pivot_table`**, it takes an argument `aggfunc` whose default value is `mean`. Which means (no pun intended) that it takes average of duplicate values

In [40]:
ratings_dup.pivot_table(index='users', columns='movies', aggfunc='mean')

       rating
movies Psycho Sholay Vertigo
users
Ajay      5.0    NaN     NaN
Arun      NaN    4.0     NaN
Ram       4.0    NaN     2.0

`pivot_table` also has an argument, `fill_value` that is like `fillna`; it populates `NaN`s with given value

In [41]:
ratings_dup.pivot_table(index='users', columns='movies', aggfunc='mean', fill_value=0)

       rating
movies Psycho Sholay Vertigo
users
Ajay        5      0       0
Arun        0      4       0
Ram         4      0       2